############################
# 应用路径
############################
# 注意如果设置开机启动（rc.local）这里必须指定绝对路径，这是因为 rc.local 是用 root 运行的
# 默认你把 kfkdock 放到了 ~/ 目录
APP_PATH=~/kfkdock/

############################
# MySQL
############################
MYSQL_PASSWORD=kfkdock