
### 应用路径 #############################
# 注意如果设置开机启动（rc.local）这里必须指定绝对路径，这是因为 rc.local 是用 root 运行的
# 默认你把 kfkdock 放到了 ~/ 目录
APP_PATH=~/kfkdock/

### Data Path ##########################################################################################################
DATA_SAVE_PATH=./data

### Docker Host IP #####################################################################################################
DOCKER_HOST_IP=10.0.75.1

### NGINX ##############################################################################################################
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_HOST_LOG_PATH=./logs/nginx/
NGINX_SITES_PATH=./nginx/sites/
NGINX_PHP_UPSTREAM_CONTAINER=php-fpm
NGINX_PHP_UPSTREAM_PORT=9000

### MYSQL ##############################################################################################################
MYSQL_VERSION=8.0
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=kfkdock
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

### REDIS ##############################################################################################################
REDIS_PORT=6379

### POSTGRES ###########################################################################################################
POSTGRES_DB=default
POSTGRES_USER=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

########################################################################################################################
